body {
  background-color: #ffe2d0;
  color: #0000FF;
  font-size: 16px;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

figcaption {
  color: #232323;
  font-size: 100%;
}

h1{
  color: #232323;
  font-size: 200%;
  font-weight: bold;
}

h3{
  color: #232323;
  font-size: 150%;
}

p{
  color: #232323;
  font-size: 150%;
  text-align:left;
  line-height: 2em;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}
